.nav-wrapper,.navbar-fixed{
	background-color: rgb(30,30,30);
	height: 200px;
}

.about-nav.color-shift,.work-nav.color-shift,.expe-nav.color-shift,.con-nav.color-shift{
	transform: scale(1.2);
	color: #6AA9AD
}
.nav-header{
	color: rgb(230,230,230);
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	margin-right: 10px;
}

.nav-header:hover{
	color: #6AA9AD;
}
a.button-collapse i{
	font-size: 50px !important;
}
.side-nav{
	height: 300px !important;
}
.ham-menu{
	font-size: 28px !important;
}
.icon-cg{
	font-size: 24px;
	color: rgb(230,230,230);
	margin-left: 24px;
	font-family: 'Montserrat', sans-serif;
}

#icon-cg:hover{
color: #6AA9AD;
}
#main-header{
	color: rgb(230,230,230);
	font-family: 'Montserrat', sans-serif;
	font-size: 102px;
	font-weight: 900;
}
.dropdown{
	color: black !important;
	font-size: 12px;
}

.secondary-header{
	color: rgb(230,230,230);
	font-weight: 800;
	font-size: 48px;
	white-space: nowrap;
  	overflow: hidden;
	font-family: 'Montserrat', sans-serif;
	width: 30em;
}
.section-experience{
	margin: 0 10% 10% 10%;
	background-color: rgb(240,240,240);
	border-radius: 4px;
	height: 100%;
}
.exp-row{
	margin: 0 -105px !important;
}

.experience-image{
	height: 100%;
	background-image: url("images/back62.jpg");
	background-size: cover;
	padding: 5% 0;
}
#bio-line{
	background-color:#6AA9AD;
	width: 15%;
	height: 3px;
	border: none;
	margin: 8px 0 8px 0;
}
.header-cursor{
	color: rgb(50,50,50);
	font-size: 38px;
	font-family: 'Prosto One', cursive;
  	animation: blink 1s infinite;
}


.git-img{
	margin: 180px 0;
	height: 71px;
	width: 71px;
	background-image: url("images/gitwhite2.png");
	background-size: contain;
	background-repeat: no-repeat;
	transition-duration: .5s;
}
.git-img:hover{
	transition-duration: .5s;
	transform: scale(1.09);
}

.link-img{
	margin: 180px 0;
	height: 71px;
	width: 71px;
	background-image: url("images/linkedinwhite2.png");
	background-size: contain;
	background-repeat: no-repeat;
	transition-duration: .5s;
}
.link-img:hover{
	transition-duration: .5s;
	transform: scale(1.09);
}
.arrow-img{
	margin: 180px 0;
	height: 71px;
	width: 71px;
	background-image: url("images/arrowwhitedown.png");
	background-size: contain;
	background-repeat: no-repeat;
}

.img-up{
	margin-top: 8px;
	height: 44px;
	width: auto;
	padding: 4px 0 0 14px;
}
.section-header-about{
	color: rgb(30,30,30);
	font-family: 'Montserrat', sans-serif;
	font-size: 60px;
	text-align: left;
	margin: 20px 0 0 0;
}
.section-header{
	color: rgb(30,30,30);
	font-family: 'Montserrat', sans-serif;
	font-size: 60px;
	text-align: center;
	margin: 20px 0 0 0;
}
.section-header-projects{
	color: rgb(230,230,230);
	font-family: 'Montserrat', sans-serif;
	font-size: 60px;
	text-align: center;
	margin: 20px 0 -50px;
}
.header_black{
	color: rgb(30,30,30);
	font-family: 'Montserrat', sans-serif;
	font-size: 44px;
}
.section-top{
	height: 49px;
	border: none;
	background-color: white;
}
.section-top-contact{
	height: 1px;
	margin-top: 110px;
	border: none;
	background-color: transparent;
}
.section-top-exp{
	height: 50px;
	margin-top: -32px;
	border: none;
	background-color: white;
}
.section-top-proj{
	height: 45px;
	border: none;
	background-color: rgb(50,50,50);
}
#headshot{
	margin-top: -4px;
}

.skills-header-each{
	color: rgb(30,30,30);
	font-family: 'Montserrat', sans-serif;
	font-size: 34px;
	margin: 13px 0 0 0;
	text-align: left;
}
#skills-header{
	margin: 0 0 -10px 0;
	text-align: left;
}

.skills-front{
	margin-top: 30px;


}

.skill-name{
	margin-top: 3px;
	font-size: 8;
	letter-spacing: 5px;
}

.skill-icon{
	width: 60px;
	height: auto;
}
.icon{
	text-align: center;
}
#js{
	border: solid black;
}
#django{
	margin-top: 25px;
	width: 80px;
	height: auto;
	padding: 0;
}
#html1{
	width: 66px;
	margin-top: -4px;
}
@media (max-width: 600px){
	#main-header{
		font-size: 80px;
	}
	
	.skill-icon{
		width: 40px;
	}
	#django{
		width: 55px;
	}
	#html1{
		width: 44px;
	}
	.skills-header-front, .skills-header-back{
		font-size: 22px;
	}
	.skill-name{
		font-size: 8px;
	}
}

h3.header_top{
	color: rgb(30,30,30);
	font-family: 'Cuprum', sans-serif;
}
p{
	font-family: 'Ubuntu', sans-serif;
	color: rgb(50,50,50);

}
span{
	font-family: 'Ubuntu', sans-serif;
	color: rgb(50,50,50);

}
#about_text{
	margin-top: -6px;
}
#top-about{
	font-size: 20px;
}
.about{
	background-color: white;
}

.projects{
	background-color: rgb(50,50,50);
	text-align: center;
}

.link-name{
	text-align: center;
	margin-top: 25px;
	margin-bottom: -10px;
}

.project-link-img{
	background: url("images/githubwhite1.png");
	background-size: 100%;
  	width: 76px;
  	height: 76px;
  	margin: -20px auto;
  	transition-duration: .5s;
}

.project-link-img:hover{
	transition-duration: .5s;
	transform: scale(1.09);
}
.live-link-img{
	background: url("images/livesite.png");
	background-size: 100%;
  	width: 76px;
  	height: 76px;
  	margin: -20px auto;
  	transition-duration: .5s;
}
.live-link-img:hover{
	transform: scale(1.09);
	transition-duration: .5s;
}

.project-icon{
	width: 38px;
	height: auto;
}
#restful{
	margin-bottom: -20px;
	width: 95px;
	height: auto;
	padding: 0;
}
#bootstrap{
	margin-bottom: -10px;
	width: 90px;
	height: auto;
}

#html{
	width: 45px;
	margin-top: -3px;
}

#mongodb{
	width: 95px;
	margin-top: 5px;
}

#househub{
	height: 50px;
	margin-top: -40px;
}
#waste{
	height: 50px;
	margin-top: -40px;
}
#get-out{
	height: 45px;
}
.project-image-waste{
	background-image: url("images/waste2.png");
	background-size: 100%;
	background-repeat: no-repeat;
	height: 270px;
	width: auto;
	margin-left: 20px;
	border-radius: 2px;
}

.project-background{
	background-color: white;
	margin: 2% 7%;
	border-radius: 1px;
	height: 100%;
}
.project_header{
	color: rgb(50,50,50);
	font-family: 'Montserrat', sans-serif;
	font-size: 42px;
	font-weight: 800;
	margin-bottom: -5px;
	text-align: center;
}

.project-description{
	padding: 0 12px 0 0;
    background-color: white;
    text-align: left;
  /*  border-radius: 2px;
    border: solid 3px #6AA9AD;*/
}

.proj-tech{
	font-size: 16px;
	color: rgb(50,50,50);
}
.project-overview{
	font-size: 18px;
	font-weight: 700;
	margin-bottom: -12px;
	color: rgb(50,50,50);
}
.project-detail{
	font-size: 16px;
	font-weight: 700;
	margin-bottom: -12px;
	color: rgb(50,50,50)
}
.project-link{
	font-size: 16px;
	color: #6AA9AD;
}
.project-link:hover{
	text-decoration: underline;
	color: #F07A80;
}
.project-text{
	margin-top: 0;
}
.img-get{
	margin-top: 20px;
	transition-duration: .5s;
}
.img-get:hover{
	transition-duration: .5s;
	transform: scale(1.05);
}

.down-button{
	margin-top: 180px;
	height: 71px;
	width: 71px;
	background-image: url("images/arrow-grey-2.png");
	background-size: contain;
	background-repeat: no-repeat;
}
.down-button:hover{
	background-image: url("images/arrow-grey.png");
}
.up-button{
	margin-top: 240px;
	height: 71px;
	width: 71px;
	background-image: url("images/arrow-up-grey.png");
	background-size: contain;
	background-repeat: no-repeat;
}
.up-button:hover{
	background-image: url("images/arrow-up-grey-2.png");
}
.icon-container{
	margin-top: 60px;
}
.icon-container-waste{
	margin-top: 40px;
}
.exp_header{
	color: rgb(50,50,50);
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	font-weight: 800;
	text-align: center;
}
.exp-each{
	font-family: 'Ubuntu', sans-serif;
	text-align: left;
	padding-left: 5px;
}
.bold-exp{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
}
.img-resume{
	margin-left: 24%;
    height: 25vh;
    margin-top: 4%;
}
.img-resume:hover{
	transform: scale(1.11);
	transition-duration: .5s
}
.section-header-contact{
	color: rgb(30,30,30);
	font-family: 'Montserrat', sans-serif;
	font-size: 60px;
	text-align: center;
	margin: 24px 0 -20px 0;
}
.contact-background{
	background-color: white;
	margin: 4% 7%;
	border-radius: 3px;
	height: 110px;
	text-align: center;
}
.git-img-contact{
	margin: 35px auto;
	height: 112px;
	background-image: url("images/githubwhite1.png");
	background-size: 60%;
	background-repeat: no-repeat;
	transition-duration: .5s;
}
.git-img-contact:hover{
	transition-duration: .5s;
	transform: scale(1.11);
}

.link-img-contact{
	margin: 35px auto;
	height: 112px;
	background-image: url("images/linkedinwhite.png");
	background-size: 60%;
	background-repeat: no-repeat;
	transition-duration: .5s;
}
.link-img-contact:hover{
	transition-duration: .5s;
	transform: scale(1.11);
}
.email-img-contact{
	margin: 35px auto;
	height: 112px;
	background-image: url("images/emailw.png");
	background-size: 60%;
	background-repeat: no-repeat;
	transition-duration: .5s;
}

.email-img-contact:hover{
	transition-duration: .5s;
	transform: scale(1.11);
}

.git-image-contact{
	display: block;
}
.contact-div{
	background-color: white;
	height: 540px;
}
.contact{
	font-size: 30px;
	font-family: 'Montserrat', sans-serif;
	color: rgb(30,30,30);	
	width: 100%;
	margin: 20px 0;
	display: inline-block;
}
.contact:hover{
	color: #6AA9AD;
}
.icon-row{
	margin-left: 6%;
}
.page-footer{
	background-color: rgb(180,180,180) !important;
}
body{
	background-color: rgb(180,180,180) !important;
}

body {
   margin:0;
   padding:0;
   height:100%;
}
#container {
   min-height:100%;
   position:relative;
}

#body {
   padding-bottom:50px;   /* Height of the footer */
}

/*footer*/

footer {
   	width:100%;
   	height:50px;  
	position:absolute;
	text-transform: uppercase;
	padding: 4px 10px;
	margin-bottom: 5px;
	background-color: rgb(35, 40, 34);
	font-size: 14px;
	letter-spacing: .09em;
	font-weight: 900;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}
.copyright {
	font-family: 'Montserrat', sans-serif;
	float: left;
	color: white;
}
.message {
	font-family: 'Montserrat', sans-serif;
	float: right;
	color: white;
}
.name {
	color: #6AA9AD;
	font-weight: 1000;
}

.resume{
	height: 100% !important;
	width: auto;
}
hr{
	margin: 0 10%;
}

.parallax-container{
    position: relative;
    overflow: hidden;
    height: 630px !important;
}
@media (max-width: 992px){
	#icon-cg{
		font-size: 36px;
	}
	#main-header{
		font-size: 80px;
	}
	#headshot{
		height: 170px;
		margin-top: 0px;
	}
	#about_text{
		font-size: 22px;
	}
	#top-about{
		font-size: 28px;
	}
	.skill-icon{
		width: 40px;
	}
	#django{
		width: 55px;
	}
	#html1{
		width: 44px;
	}
	.skills-header-each{
		font-size: 22px;
	}
	.skill-name{
		font-size: 16px;
	}
	li{
		font-size: 24px;
	}
	p.copyright,p.message{
		font-size: 14px;

	}
	p{
		font-size: 24px;
	}
	span{
		font-size: 24px;
	}
	
	.project-image-link{
		margin-bottom: 0px;
	}
	.project-overview{
		font-size: 28px;
	}
	.project-background{
		height: 100%;
	}
	.proj-tech{
		font-size: 26px;
	}
	.project-detail{
		font-size: 28px;
	}
	.project-description{
		text-align: center;
	}
	.img-resume{
		margin-left: 42%;
    	height: 5vh;
	}
}