.nav-wrapper{
	background-color: #6AA9AD;
}
.nav-header{
	color: rgb(50,50,50);
	font-family: 'Prosto One', cursive;
	font-size: 22px;
	margin-right: 20px;
}
.nav-header:hover{
	color: #F07A80;

}
.section-experience{
	margin-left: 10%;
	margin-right: 10%;
	background-color: rgba(240,240,240, .6);
	border-radius: 4px;
}

.exp-row{
	margin: 0 -105px !important;
}

.experience-image{
	background-image: url("images/dune1bw.jpg");
	background-size: cover;
	padding: 5% 0;
}

#main-header{
	color: rgb(20,20,20);
	font-family: 'Baumans', cursive;
	font-size: 102px;
	font-weight: 900;
}

.secondary-header{
	color: rgb(50,50,50);
	font-weight: 800;
	font-size: 48px;
	font-family: 'Prosto One', cursive;
}

.header-icons{
	margin-top: 170px;
}

.section-header{
	color: #6AA9AD;
	font-family: 'Prosto One', cursive;
	font-size: 60px;
	text-align: center;
}

.header_black{
	color: rgb(30,30,30);
	font-family: 'Prosto One', cursive;
	font-size: 44px;

}
.skills{
	color: #F07A80;
	font-family: 'Cuprum', sans-serif;
	font-size: 38px;
	font-weight: 800;
}


#skills_header{
	padding-top: 50px;
}

h3.header_top{
	color: rgb(30,30,30);
	font-family: 'Cuprum', sans-serif;
}

p{
	font-family: 'Ubuntu', sans-serif;

}

#about_text{
	margin-top: -6px;
}

.skill_box{
	background-color: rgba(186,186,186,.2);
	height: 220px;
	text-align: center;
	border-radius: 4px;
	font-size: 8;
	letter-spacing: 5px;
	border: black solid;
}

.skill_box:hover{
	background-color: rgba(186,186,186,.2);
	height: 220px;
	text-align: center;
	border-radius: 4px;
	font-size: 8;
	letter-spacing: 5px;
	border: #F07A80 solid;
}


#headshot{
	height: 200px;
	width: auto;
	border-radius: 4px;
	margin-top: -30px;
}

.contact-image{
	height: 80px;
	width: auto;
}

.contact{
	height: 80px;
	text-align: center;
}

.project-image{
	height: 220px;
	width: auto;
	padding-left: 10px;
	border-radius: 2px;
}

.projects{
	text-align: center;
}

.projects-back{
	background-color: rgba(190, 190, 190, .6);
}

.projects{
	background-color: rgb(50,50,50);
}

.project-background{
	background-color: white;
}

.project-description{
	padding: 6px 18px;
    background-color: rgba(190,190,190,.6);
    border-radius: 2px;
    border: solid 3px #6AA9AD;
}

.project-description:hover{
   	border: 3px #F07A80 solid;
}



.project-column{
	margin-bottom: 40px;
}

.project-column-right1{
	margin: 0;
}

.project-column-right2{
    margin: -45px 0 35px 0;
}

.exp_header{
	color: rgb(50,50,50);
	font-family:'Prosto One', cursive;
	font-size: 38px;
	font-weight: 800;
}
.project_header{
	color: rgb(50,50,50);
	font-family:'Baumans', cursive;
	font-size: 42px;
	font-weight: 800;
}
.project_header:hover{
	color: #F07A80;
}

.parallax-container{
    position: relative;
    overflow: hidden;
    height: 720px !important;
}